<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/styles/style.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <title>Continents</title>
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/Continents}">Continents</a></li>
            <li><a th:href="@{/countries}">Countries</a></li>
            <li><a th:href="@{/islands}">Islands</a></li>
            <li><a th:href="@{/oceans}">Oceans</a></li>
            <li><a th:href="aboutUsTemplate.html">About Us</a></li>
            <li><a th:href="executivePage.html">The Team</a></li>
            <li><a th:href="reviews.html">Reviews</a></li>
            <input type="text" placeholder="Search..">
        </ul>
        <!--                <a th:href="@{/aboutUsTemplate">About Us</a>-->
    </nav>
</header>
<h1>Travel at the Tip of Your Fingers</h1>

<h2 th:each="continent:${continents}"><a th:href="@{'/continents/'+ ${continent.name}}"
                                         th:text="${continent.name}">Continent</a>
</h2>

<div id="continent desc">
    <section id="continents">


        <h3>Europe</h3>
            <img src="/images/europe.jpg" alt="an image of continental Europe">
            <p>Europe consists of 52 different countries with a total land area of 10 million km² (4 million square miles). This corresponds to a share of 7% of the habitable earth surface. The coastlines in and around Europe altogether have a length of 112,483 km (69,909 miles). In these 52 countries are living 734.99 million people (= 9.5% of the world's population). They account for around 25% of global economic output.
        </p>

        <h3>Americas</h3>
            <img src="/images/northAmerica.jpg" alt="an image of continental North America">
            <img src="/images/southAmerica.jpg" alt="an image of continental South America">
                <p>America consists of 57 different countries with a total land area of 43 million km² (16 million square miles). This corresponds to a share of 28% of the habitable earth surface. The coastlines in and around America altogether have a length of 329,888 km (205,027 miles). In these 57 countries are living 1.02 billion people (= 13.2% of the world's population). They account for around 33% of global economic output.
        </p>

        <h3>Africa</h3>
        <img src="/images/africa.jpg" alt="an image of continental Africa">
        <p>Africa consists of 59 different countries with a total land area of 30 million km² (12 million square miles). This corresponds to a share of 20% of the habitable earth surface. The coastlines in and around Africa altogether have a length of 41,184 km (25,596 miles). In these 59 countries are living 1.34 billion people (= 17.3% of the world's population). They account for around 2.8% of global economic output.
        </p>

        <h3>Australia</h3>
        <img src="/images/australia.jpg" alt="an image of continental Australia">
        <p>Australia consists of 6 different countries with a total land area of 8 million km² (3 million square miles). This corresponds to a share of 5% of the habitable earth surface. The coastlines in and around Australia altogether have a length of 41,193 km (25,602 miles). In these 6 countries are living 30.78 million people (= 0.4% of the world's population). They account for around 1.8% of global economic output.
        </p>

        <h3>Asia</h3>
        <img src="/images/asia.jpg" alt="picture of continental Asia">
        <p>Asia consists of 51 different countries with a total land area of 45 million km² (17 million square miles). This corresponds to a share of 30% of the habitable earth surface. The coastlines in and around Asia altogether have a length of 220,266 km (136,896 miles). In these 51 countries are living 4.62 billion people (= 59.6% of the world's population). They account for around 37% of global economic output.
        </p>





    </section>


</div>

</body>

</html>