<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countriesc</title>

    <link rel="stylesheet" href="/styles/style.css" type = text/css>

</head>
<body>
<header>

    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/Continents}">Continents</a></li>
            <li><a th:href="@{/countries}">Countries</a></li>
            <li><a th:href="@{/islands}">Islands</a></li>
            <li><a th:href="@{/oceans}">Oceans</a></li>
            <li><a th:href="aboutUsTemplate.html">About Us</a></li>
            <li><a th:href="executivePage.html">The Team</a></li>
            <li><a th:href="reviews.html">Reviews</a></li>
            <input type="text" placeholder="Search..">
        </ul>
    </nav>

</header>
<main>
    <div class ="headline">
        <h2>Countries</h2>
    </div>

    <div class="col=sm-3">
        <h3>United States</h3>
        <img src="/images/usa.jpg" alt="an image of USA" class= "countries" >

        <p>The greatest country in the world. America has it all: forests, mountains, rolling hills, deserts, and yes even islands. 
            Manifest destiny did not stop at the west coast. In 1959, Hawaii became the 50th State in the Union-2000 miles off the main land, deep into the Pacific Ocean.</p>
    </div>

    <div class="col-sm-3">
        <h3>Republic of Cabo Verde</h3>
        <img src ="/images/CapeVerde.jpg" alt= "an image of Cape Verde" class="countries">

        <p>Cape Verde is an archipelago in the central Atlantic Ocean, comprising ten volcanic islands. 
        It is one of the most stable and developed countries in Africa. 
        The culture here hatched from the intertwining of African and European roots.</p>

    </div>

    <div class="col-sm-3">

        <h3>Republic of Fiji</h3>
        <img src ="/images/Fiji.jpg" alt="an image of Fiji" class="countries">
        
        <p>Fiji is an archipelago in the South Pacific Ocean consisting of more than 330 islands; only about a third of which are permanently inhabited. 87% of theh country's population live on the main two islands. Their economy is one of the most developed in the Pacific. Be prepared to get physcial in a rugby game to win over the locals.</p>


    </div>

    

    <div class="col-sm-3">

        <h3>Italian Republic</h3>
        <img src ="/images/Italy.jpg" alt="an image of Italy" class="countries" >

        <p>Italy: a birthplace of western civilization and culture. It is a peninsula in the middle of the Mediterranean Sea and is surrounded by several of its own islands. It is home to a great number of peoples and cultures. </p>


    </div>

    <div class="col-sm-3">

        <h3>Kingdom of Thailand</h3>
        <img src ="/images/Thailand.jpg" alt="an image of Thailand" class="countries" >

        <p>Thailand is a Southeast Asian nation with many islands that spot the Gulf of Thailand and Andaman Sea. Known for some of the world's best cuisine and effective martial arts. </p>

    </div>

    <div class="col-sm-3">

        <h3>Bolivarian Republic of Venezuela</h3>
        <img src ="/images/venezuela.jpg" alt="an image of Venezuela" class="countries" >
        

        <p>Venezuela is located on the northern coast of South America and includes many islands off its landmas in the Caribean Sea. Venezuela includes Indigenous, African, and Spanish cultures. </p>
    </div>


</main>


<footer>
    &copy; JAC 2021
</footer>

</body>
</html>