<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Island Hopping by JAC</title>

</head>
<body>
    <div class="container">
        <a id="wuhan-coronavirus-travel-restrictions" href="https://travel.state.gov/content/travel/en/traveladvisories/ea/requirements-for-air-travelers-to-the-us.html" class="alert__link"><span class="alert__title">COVID-19 UPDATE</span> <span class="alert__description">JAC wants you to #stayhealthy and #stayinformed. Learn more about current health protocols and travel requirements. </span></a>
        <header class="header">
            <nav>
                <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/Continents}">Continents</a></li>
                <li><a th:href="@{/countries}">Countries</a></li>
                <li><a th:href="@{/islands}">Islands</a></li>
                <li><a th:href="@{/oceans}">Oceans</a></li>
                <li><a th:href="aboutUsTemplate.html">About Us</a></li>
                <li><a th:href="executivePage.html">The Team</a></li>
                <li><a th:href="reviews.html">Reviews</a></li>
                <input type="text" placeholder="Search..">
                </ul>
                <!--                <a th:href="@{/aboutUsTemplate">About Us</a>-->
            </nav>

        </header>

        <section>
            <h1>JAC's Island Hopping</h1>
            <p>JAC's Motto: "Vincit Qui Se Vincit!" which means, "He/she conquers who conquers him/herself!"</p>
            <h2>What is Island Hopping?</h2>
            <p>Island Hopping has been around for centuries and it has only gotten better with time and technology. Originally people would have to wait weeks or even months to visit an island or several.  Now with the advent of modern day technology, people are able to move around quicker than possible.  We have airplane, boat, and land travel, each of which have been mechanized and even digitized.  Now you can sit back, relax, and let the concierge drive you to your next location with JAC Enterprises Island Hopping Demo.  Where Island Hopping suits you well. </p>



                    <figure>
                        <img src="/images/world-map.gif" alt="a world map" id="world" />
                    </figure>

                </section>
            </div>
         </section>

         <section class="search">
             <h2>Find your next adventure!</h2>
             <p>JAC's offers Island Hopping adventures all over the globe!</p>
         </section>

         <nav>
             <a href="#aboutUs">About JAC's</a>
             <a href="#examples">Best of Island Hopping</a>
             <a href="#search">Find an Adventure</a>
         </nav>

         <footer>
             &JAC's Enterprises 2021
             &Team1 2021
         </footer>


    </div>
</body>
</html>