<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oceans</title>

    <link rel="stylesheet" href="styles/style.css" type=text/css> </head> <body>
    <header>

        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/Continents}">Continents</a></li>
                <li><a th:href="@{/countries}">Countries</a></li>
                <li><a th:href="@{/islands}">Islands</a></li>
                <li><a th:href="@{/oceans}">Oceans</a></li>
                <li><a th:href="aboutUsTemplate.html">About Us</a></li>
                <li><a th:href="executivePage.html">The Team</a></li>
                <li><a th:href="reviews.html">Reviews</a></li>
                <input type="text" placeholder="Search..">
            </ul>
            <!--                <a th:href="@{/aboutUsTemplate">About Us</a>-->
        </nav>

    </header>
    <main>
        <div class="headline">
            <h2>Oceans</h2>
        </div>

        <div class="col-sm-3">
            <h3>Southern Ocean</h3>
            <img src="images/southernocean.jpg" class= "ocean">

            <p>Southern Ocean, also called Antarctic Ocean, body of salt water covering approximately one-sixteenth of
                Earth's total ocean area. The Southern Ocean is made up of the portions of the world ocean south of the
                Pacific, Atlantic, and Indian oceans and their tributary seas surrounding Antarctica below 60° S. It is
                unbroken by any other continental landmass. Its narrowest constriction is the Drake Passage, 600 miles
                (about 1,000 km) wide, between South America and the tip of the Antarctic Peninsula. In terms of area,
                only the Arctic Ocean is smaller.</p>
        </div>

        <div class="col-sm-3">
            <h3>Atlantic Ocean</h3>
            <img src="images/atlanticocean.jpg" class= "ocean">

            <p>The Atlantic Ocean is the second-largest of the world's five oceans, with an area of about 106,460,000 km2 (41,100,000 sq mi).[2][3] It covers approximately 20% of Earth's surface and about 29% of its water surface area. It is known to separate the "Old World" of Africa, Europe and Asia from the "New World" of the Americas in the European perception of the World.</p>

        </div>

        <div class="col-sm-3">

            <h3>Pacific Ocean</h3>
            <img src="images/pacificocean.jpg" class= "ocean">


            <p>The Pacific Ocean is the largest and deepest of Earth's five oceanic divisions. It extends from the Arctic Ocean in the north to the Southern Ocean (or, depending on definition, to Antarctica) in the south and is bounded by the continents of Asia and Australia in the west and the Americas in the east.</p>

        </div>

        </div>

        <div class="col-sm-3">

            <img src="images/indianocean.jpg" class= "ocean">
            <h3>Indian Ocean</h3>


            <p>The Indian Ocean is the third-largest of the world's five oceanic divisions, covering 70,560,000 km2 (27,240,000 sq mi) or 19.8% of the water on Earth's surface.[5] It is bounded by Asia to the north, Africa to the west and Australia to the east. To the south it is bounded by the Southern Ocean or Antarctica, depending on the definition in use.[6] Along its core, the Indian Ocean has some large marginal or regional seas such as the Arabian Sea, the Laccadive Sea, the Somali Sea, Bay of Bengal, and the Andaman Sea.</p>

        </div>

        <div class="col-sm-3">

            <img src="images/arcticocean.jpg" class= "ocean">
            <h3>Arctic Ocean</h3>

            <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
                ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison
                nisi.
                Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
                Ea irure labore cow, commodo nostrud non cillum pork loin.</p>

        </div>


        </section>


        </div>
    </main>


    <footer>
        &copy; JAC 2021
    </footer>

    </body>

</html>