<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ocean</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/Continents}">Continents</a></li>
            <li><a th:href="@{/countries}">Countries</a></li>
            <li><a th:href="@{/islands}">Islands</a></li>
            <li><a th:href="@{/oceans}">Oceans</a></li>
            <li><a th:href="aboutUsTemplate.html">About Us</a></li>
            <li><a th:href="executivePage.html">The Team</a></li>
            <li><a th:href="reviews.html">Reviews</a></li>
            <input type="text" placeholder="Search..">
        </ul>
        <!--                <a th:href="@{/aboutUsTemplate">About Us</a>-->
    </nav>
</header>
<h1>Ocean</h1>
</body>
</html>